<template>
    <article class="message" :class="mesClass">
    <div class="message-header">
        <slot name="heading"></slot>
    </div>
    <div class="message-body">
        <slot name="body"></slot>
    </div>
    </article>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        props: ['mesClass']
    };
</script>