<template>
    <div class="modal is-active" dir="rtl">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head textRight">
            <p class="modal-card-title">
                <slot name="modalHeading"></slot>
            </p>
            <button class="delete" aria-label="close" @click="$emit('closeModal')"></button>
            </header>
            <section class="modal-card-body textRight">
                <slot name="modalContent"></slot>
            </section>
            <footer class="modal-card-foot textRight">
                <slot name="modalFooter"></slot>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {}
</script>