<template>
    <div class="columns">
        <div class="column is-one-fifth">
            <p class="control">
                <button class="button" @click="showEditModal = true">
                    ערוך
                </button>
            </p>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <span v-text="time.start" class="subtitle is-5"></span>
                    <span class="subtitle is-4">  -  </span>  
                    <span v-text="time.end" class="subtitle is-5"></span>
                </div>
                <div class="column">
                    <span v-text="time.name" class="title is-5"></span>
                </div>
            </div>
        </div>

        <modal v-if="showEditModal" @closeModal="showEditModal = false">
            <template slot="modalHeading">ערוך את השעות</template>
            <template slot="modalContent">
                <br>
                <div class="columns">
                    <span class="title is-4 column">שעת התחלה</span>
                    <div class="column">
                        <input type="number" class="input modal-input" v-model="startMinute" dir="ltr">
                        <strong class="points">:</strong>
                        <input class="input modal-input" type="number" v-model="startHour" dir="ltr">
                    </div>
                </div>
                <br>
                <div class="columns">
                    <span class="title is-4 column">שעת סיום</span>
                    <div class="column">
                        <input type="number" class="input modal-input" v-model="endMinute" dir="ltr">
                        <strong class="points">:</strong>
                        <input class="input modal-input" type="number" v-model="endHour" dir="ltr">
                    </div>
                </div>
            </template>
            <template slot="modalFooter">
                <button class="button marg-left" @click="showEditModal = false">בטל</button>
                <button class="button is-success" @click="editTimes">שמור שינויים</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Modal from './Basic/Modal.vue';
    import { mapActions } from 'vuex';
    import EventBus from '../common/eventDispacher.js';

    export default {
        props: ['time'],

        data() {
            return {
                showEditModal: false,
                startHour: "",
                startMinute: "",
                endHour: "",
                endMinute: "",
            }
        },

        methods: {
            ...mapActions(['saveBreak']),
            editTimes() {
                const newTime = this.time;
                newTime.start = this.startHour + ":" + this.startMinute;
                newTime.end = this.endHour + ":" + this.endMinute;

                this.saveBreak(newTime);
                this.showEditModal = false;
                EventBus.$emit('focus');
            }
        },

        watch: {
            time: function (val) {
                const start = this.time.start;
                this.startHour = start.split(":")[0];
                this.startMinute = start.split(":")[1];

                const end = this.time.end;
                this.endHour = end.split(":")[0];
                this.endMinute = end.split(":")[1];
            }
        },

        mounted() {
            const start = this.time.start;
            this.startHour = start.split(":")[0];
            this.startMinute = start.split(":")[1];

            const end = this.time.end;
            this.endHour = end.split(":")[0];
            this.endMinute = end.split(":")[1];
        },

        components: {
            'modal': Modal
        }
    };
</script>