<template>
    <div>
        <message :mesClass="messageClass">
            <p slot="heading" class="text-center" v-text="courses[currCourse - 1].name"></p>
            <div slot="body" class="textRight">
                <edit-item v-for="time in times" :time="time"></edit-item>
            </div>
        </message>
        <br>
        <p class="control">
            <button class="button is-dark" @click="reset()">
                  אפס זמנים
            </button>
        </p>
    </div>
</template>

<script>
  import Message from './Basic/Message.vue';
  import EditItem from './EditItem.vue';
  import { mapState } from 'vuex';
  import { mapActions } from 'vuex';
  import EventBus from '../common/eventDispacher.js';

  export default {
    computed: {
        ...mapState(['currCourse', 'courses', 'times']),
        messageClass() {
              let mesClass = "";
              
              if (this.currCourse == this.courses[0].code) {
                  mesClass = 'is-info';
              } else if (this.currCourse == this.courses[1].code) {
                  mesClass = 'is-red-kalach';
              } else if (this.currCourse == this.courses[2].code) {
                  mesClass = 'is-success';
              }

              return mesClass;
          }
    },

    methods: {
        ...mapActions(['resetTimes']),
        reset() {
            this.resetTimes();
            EventBus.$emit('focus');
        }
    },

    components: {
        'message': Message,
        'edit-item': EditItem,
    },
  }
</script>