<template>
    <message :mesClass="messageClass">
        <p slot="heading" class="text-center">חישוב זמן</p>
        <div slot="body" class="text-center">
                <p class="heading">שעת התחלה</p>
                <input type="number" id="startHour" class="input major-input " v-model="startHour">
                <strong class="points">:</strong>
                <input class="input major-input " type="number" v-model="startMinute">

                <br><br>

                <p class="heading">כמה דקות למבחן</p>
                <input class="input major-input " v-model="testMinutes">

                <br><br>
                <label class="checkbox">
                    <input type="checkbox" v-model="hasMadat">
                    <span>?יש מד''ת למבחן</span>
                </label>
                
                <br><br>

                <div v-if="hasMadat">
                    <p class="sub-heading">שעת גג להגשת מד''ת</p>
                    <input class="input secondery-input  disabled" disabled :value="madatHour">
                    <strong class="points">:</strong>
                    <input class="input secondery-input  disabled" disabled :value="madatMinute">
                    <br>
                </div>
                <hr>
                <p class="heading">שעת סיום</p>
                <input class="input major-input  disabled" disabled :value="resHour">
                <strong class="points">:</strong>
                <input class="input major-input  disabled" disabled :value="resMinute">

                <br><br>
                <h5 class="subtitle is-4 restDays" dir="rtl" v-if="resultDays != 0"><span>שים לב, זה עוד </span><strong><span v-text="resDays"></span></strong><span> ימים אחר כך</span></h5>
        </div>
    </message>
</template>

<script>
  import Message from './Basic/Message.vue';
  import { mapState } from 'vuex';
  import EventBus from '../common/eventDispacher.js';

  export default {
      data() {
          return {
            startHour: 0,
            startMinute: 0,
            testMinutes: 0,
            resultHour: 0,
            resultMinute: 0,
            resultDays: 0,
            majorDate: moment(),
            hasMadat: false,
          };
      },
      methods: {
          validateInput() {
            if (this.startHour < 0) {
                this.startHour = 0;
            } else if (this.startHour > 23) {
                this.startHour = 23;
            }
            
            if (this.startMinute < 0) {
                this.startMinute = 0;
            } else if (this.startMinute > 59) {
                this.startMinute = 59;
            }
            
            if (this.testMinutes < 0) {
                this.testMinutes = 0;
            }
          },

          createDate(hours, minutes) {
            return this.majorDate.clone().hours(hours).minutes(minutes);
          },

          createDateFromStorage(hourString) {
            return this.createDate(hourString.split(":")[0], hourString.split(":")[1]);
          },

          nextDay(currDate, courseBreaks) {
              let newDate;
              const endOfDay = courseBreaks.day.end.clone().endOf('day');

              newDate = currDate.clone().add('m', endOfDay.diff(courseBreaks.day.end, 'minutes') + 1);
              endOfDay.add('m', 1).subtract('d', 1);
              newDate = newDate.clone().add('m', courseBreaks.day.start.diff(endOfDay, 'minutes') + 1);

              return newDate;
          },

          nextDayAll(courseBreaks) {
            Object.keys(courseBreaks).map((key) => {
                courseBreaks[key].start.add('d', 1);
                courseBreaks[key].end.add('d', 1);
            });

            return courseBreaks;
          },

          afterHafifa(beforeDate, afterDate, startBreak, endBreak) {
            let newDate = afterDate;
            if ((beforeDate <= startBreak) && (afterDate > startBreak)) {
                newDate = afterDate.clone().add('m', endBreak.diff(startBreak, 'minutes'));
            }
            
            return newDate;
          },

          afterHafifots(startDate, endDate, courseBreaks) {
              Object.keys(courseBreaks).sort((first, second) => {
                return (this.times[first].serialNumber - this.times[second].serialNumber) 
              }).map((key) => {
                  if (key != "day") {
                      endDate = this.afterHafifa(startDate, endDate, courseBreaks[key].start, courseBreaks[key].end);
                  }
              });
              
              return endDate;
          },

          getEndDate(startDate, endDate, courseBreaks, isMadat) {
              endDate = this.afterHafifots(startDate, endDate, courseBreaks);

              let endOfDay = startDate.clone();
              endOfDay.hours(courseBreaks.day.end.hours());
              endOfDay.minutes(courseBreaks.day.end.minutes());

              if (endDate > endOfDay) {
                  endDate = this.nextDay(endDate, courseBreaks);
                  courseBreaks = this.nextDayAll(courseBreaks);

                  if (!isMadat) {
                    this.resultDays++;
                  }

                  startDate.add('d', 1).hours(courseBreaks.day.start.hours()).minutes(courseBreaks.day.start.minutes());
                  endDate = this.getEndDate(startDate, endDate, courseBreaks, isMadat);
              }

              return endDate;
          },

          copyCourseDates() {
              const copy = {};

              Object.keys(this.courseDates).map((key) => {
                  copy[key] = {};
                  copy[key].start = this.courseDates[key].start.clone();
                  copy[key].end = this.courseDates[key].end.clone();
              });

              return copy;
          },

          prettyTime(time) {
            if (time < 10) {
                time = "0" + time;
            }

            return time;
          },
      },
      computed: {
          ...mapState(['times', 'currCourse', 'courses']),
          result() {
              this.validateInput();

              let startDate = this.createDate(this.startHour, this.startMinute);
              let endDate = startDate.clone().add('m', this.testMinutes);

              this.resultDays = 0;
              endDate = this.getEndDate(startDate, endDate, this.copyCourseDates(), false);
    
              return (endDate);
          },
          resHour() {
              return this.prettyTime(this.result.hours());
          },
          resMinute() {
            return this.prettyTime(this.result.minutes());
          },
          resDays() {
              return this.resultDays;
          },
          madatTime() {
              let startDate = this.createDate(this.startHour, this.startMinute);

              let minutesToAdd = this.testMinutes - 90;
              if (minutesToAdd > this.testMinutes * 0.8) {
                minutesToAdd = this.testMinutes * 0.8;
              }

              if (minutesToAdd > 0) {
                let madatDate = startDate.clone().add('m', minutesToAdd);
                madatDate = this.getEndDate(startDate, madatDate, this.copyCourseDates(), true);

                return (madatDate);
              } else {
                  return startDate;
              }
          },
          madatHour() {
            return this.prettyTime(this.madatTime.hours());
          },
          madatMinute() {
            return this.prettyTime(this.madatTime.minutes());
          },
          courseDates() {
            let courseDates = {};
            Object.keys(this.times).map((key) => {
                courseDates[key] = {};
                courseDates[key].start = this.createDateFromStorage(this.times[key].start);
                courseDates[key].end = this.createDateFromStorage(this.times[key].end);
            });

            return courseDates
          },
          messageClass() {
              let mesClass = "";
              
              if (this.currCourse == this.courses[0].code) {
                  mesClass = 'is-info';
              } else if (this.currCourse == this.courses[1].code) {
                  mesClass = 'is-warning';
              } else if (this.currCourse == this.courses[2].code) {
                  mesClass = 'is-success';
              }

              return mesClass;
          }
      },
      components: {
          'message': Message
      },
      created() {
        this.majorDate.seconds(0);
      },
      mounted() {
          document.getElementById("startHour").focus();
          EventBus.$on('focus', () => {
            document.getElementById("startHour").focus();
          });
      }
  }
</script>