<template>
  <div id="layout">
    <br>
    <h1 class="title is-2 text-center">?מתי המבחן נגמר</h1>
    <div class="text-center" dir="rtl">
      <button v-for="course in courses" class="button is-medium marg" v-text="course.name" :class="{'is-dark':currCourse==course.code}" @click="chooseCourse(course.code)">
      </button>
    </div>
    <br>
    <div class="columns">
      <div class="column is-two-fifths">
          <time-edit></time-edit>
      </div>
      <div class="column">
        <time-calc></time-calc>
      </div>
    </div>
    <p class="rights">© Itamar Smirra</p>
  </div>
</template>

<script>
  import TimeCalc from './components/TimeCalculator.vue';
  import TimeEdit from './components/TimeEdit.vue';
  import { mapState } from 'vuex';
  import { mapActions } from 'vuex';
  import EventBus from './common/eventDispacher.js';

  export default {
    data() {
      return {
        selectedCode:1
      }
    },
    methods: {
      ...mapActions(['changeCourse', 'firstMount']),
      chooseCourse(courseCode) {
        this.changeCourse(courseCode);
        EventBus.$emit('focus');
      },
    },
    computed: {
      ...mapState(['courses','currCourse']),
    },
    created() {
      this.firstMount();
    },
    components: {
      'time-calc': TimeCalc,
      'time-edit': TimeEdit,
    },
  }
</script>

<style>
* {
 font-family: 'Alef'; 
}

.points {
    font-size: 25px;
}

.major-input {
    width: 20%;
    /* border-radius: 5px; */
    font-size: 20px;
}

.secondery-input {
    width: 20%;
    /* border-radius: 5px; */
    font-size: 15px;
}

.modal-input {
    width: 35%;
    /* border-radius: 5px; */
    font-size: 20px;
}

.marg {
    margin: 2em;
}

.disabled {
    background-color: #dbdbdb!important;
    color: black!important;
    font-weight: bold;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.heading {
    font-size: 25px;
    margin-bottom: 1%;
}

.sub-heading {
    font-size: 18px;
    margin-bottom: 1%;
}

.text-center {
    text-align: center;
}

.padded {
    padding: 3px;
}

.container {
    width: 1050px;
}

.message-header {
    display: inherit;
}

.restDays {
    color: lightcoral;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.marg-left {
    margin-left: 1.5em;
}

.float-left {
    float: left;
}

.is-red-kalach {
    background-color: #fff7f5;
}

.message.is-red-kalach .message-header {
    background-color: #c9302c;
    border-color: #ac2925;
}

.rights {
    color:lightgray;
}
</style>
